@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en" ng-app="lsApp">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.css")">

        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/angularjs/angular.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>

        <script src="@routes.Assets.versioned("javascripts/ls.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
